/*Define the page container sample. In order to fit all mobile phones, app has no scroll bar*/
html,body{
	padding:0;
	margin:0;
	width:100%;
	height:auto;
	overflow-x:hidden; 
	font-family:"Arial Rounded Mt",arial;
}

@font-face{
	font-family: "Arial Rounded Mt";
	src: url("../fonts/Arial Rounded Mt.Ttf")format('truetype');
	font-weight: normal;
	font-style: normal;
	
}

/*Clean up tags with attributes*/
ul,li{ 
	list-style:none; 
	padding:0; 
	margin:0;
}
i,em{ 
	font-style:normal;
}
input,input:focus{
	outline:none;
}

		.top{
			width: 100%;
			height:70px;
			background: rgba(255,255,255,.95);
			position: fixed; 
			top: 0px;
		}

        .top .logo img{
    		width:5%;
    		margin-left: 5%;
    		display: block;
			margin-top: .5%;
			
    	}

		.top .userImage img{
	        width: 30px;
			height: 30px;
			margin-right: 5%;
			margin-top: -1.6%;
			float: right;
		}

		.top .topnav ul{
	        list-style: none;
    		float: right;
    		margin-right: 10px;
			margin-top: -10px;
		}

		.top .topnav ul li{
	       	list-style: none;
    		float: left;
    		margin-left: 45px;
			margin-top: -10px;
			right:-500px;
		}

		.top .topnav li a{
	        text-decoration: none;
    		color: #f72e05;olor: #f72e05;
    		font-family: "Arial Rounded Mt",arial;
			font-style:normal;
    		font-size: 16px;
    		letter-spacing: .2px;
			padding:0px -20px;
			margin:-5px;
    		transition:all .2s linear;
    		-o-transition:all .2s linear;
    		-moz-transition:all .2s linear;
    		-webkit-transition:all .2s linear;
		}

		.top .topnav ul li a:hover,
		.top .topnav ul li .selected{
    		color: #d9d9d9;
    		border-radius: 3px;
		}
 
        form {  
            position: relative;  
            width: 300px;  
            margin: 0 auto;  
        }  
        input, button {  
            border: none;  
            outline: none;  
        }  
        input {  
            width: 100%;  
            height: 30px;  
            padding-left: 13px;  
            padding-right:50px;  
        }  
        button {  
            height: 30px;  
            width: 30px;   
            position: absolute;  
        }
		button img{
			width:15px;
			height:15px;
			margin-left: auto;
			margin-right: auto;
			vertical-align: middle;
	
		}

		.searchBar {
			background: #ffffff;
			float: right;
			margin-right: 200px;
			margin-top: -1.8%;
		}  
        .searchBar input {
			width:200px;
			height: 30px;
            border: 2px solid #f72e05;  
            border-radius: 3px;  
            background: #ffffff;  
            color: #d9d9d9;
			font-family: "Arial Rounded Mt",arial;
			font-size: 16px;
			padding-left: 5px;
        }  
        .searchBar button { 
			width:34px;
			height:34px;
			border-radius: 3px;
            top: 0;  
            right: 0;  
            background: #f72e05;  
/*          radius: 3px 3px 3px 3px;  */
        }  
        

		header{
			width: 100%;
			height: 90px;
			background: #f72e05;
			top: 50px;
			position: absolute;
		}

		header img{
			width:8%;
    		margin-left: 5%;
    		display: block;
			margin-top: 1.6%;
	
		}

		header nav{
    		float: right;
    		margin-top: -1.5%;
    		margin-right: 5%;
    		font-family: 'Arial Rounded Mt',arial;

		}

			

		header nav ul li{
    		list-style: none;
    		float: left;
    		margin-left: 45px;
			margin-top: -10px;
		}

		header nav ul li a{
    		text-decoration: none;
    		color: #ffffff;
    		font-family: "Arial Rounded Mt",arial;
    		font-size: 16px;
    		letter-spacing: .3px;
    		transition:all .2s linear;
    		-o-transition:all .2s linear;
    		-moz-transition:all .2s linear;
    		-webkit-transition:all .2s linear;
		}
		

		header nav ul li a:hover,
		header nav ul .selected{
    		color: #ffab17;
    		background: #ffffff;
			border-radius: 3px;
		}

		/* right nav */
		.nav.right ul {
			text-align: right;
		}

		/* center nav */
		.nav.center ul {
		text-align: center;
		}

		.rls{
		    width: 100%;
			height: 70%;
			background-color: #EBEBEB;
			display:block; 
			text-align:center;
		}


.rls h1{
	   
	   font-family: "Arial Rounded Mt",arial;
	   font-size: 40px;
	   font-color:#2e2e2e;
	   padding-top: 3%;
	   padding-bottom: 3%; 
	   text-align: center;
	   margin:0 auto;
}


.rls .grid{
    background-color:rgba(255,255,255,.8);
    width:25%;
	height: 600px;
	margin-top: .5%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 10%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	
}

.rls .grid #title{
	font-size: 28px;
}

.rls .grid #mv{
	font-size:12px;
	font-color:#2d2d2d;
}
.inner{
  border: 2px #303030;
  margin:5%;
  padding:4%;
  display: block;
}

.inner img{
	width:100%;
	height:100%;
	border-radius: 5px;
	
}

.inner .buttonView {
	width: 8%;
	height: 4%;
	background: #ffab17;
	border-radius: 5px;
	margin:0 auto;
	align-items: center;
	display:inline-block;
	text-align: center;
	font-family: "Arial Rounded Mt",arial;
	color:#ffffff;
	overflow: hidden;
}

		footer{
			width: 100%;
			height: 50%;
			background: #f2f2f2;
			overflow: hidden;
			margin: 0 auto;
		}


