@charset "UTF-8";
/* CSS Document */
/*Define the page container sample. In order to fit all mobile phones, app has no scroll bar*/
html,body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	overflow-x:hidden; 
	font-family:"Arial Rounded Mt",arial;
}

@font-face{
	font-family: "Arial Rounded Mt";
	src: url("../fonts/Arial Rounded Mt.Ttf")format('truetype');
	font-weight: normal;
	font-style: normal;
	
}

/*Clean up tags with attributes*/
ul,li{ 
	list-style:none; 
	padding:0; 
	margin:0;
}
i,em{ 
	font-style:normal;
}
input,input:focus{
	outline:none;
}

/*login page*/
.logForm{
	width: 100%;
	height: 100%;
	background-color: #EBEBEB;
	text-align:center;
	margin-top: -2%;
    justify-content: center;
    align-content: center;
	
}

.logForm h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	padding-top: 6%;
	padding-bottom: 1%;
}

.logForm form{
	width: 40%;
	height:30%;
    margin: 0 auto;
	background-color:#ffffff;
	border-radius:10px;
	text-align: center;
	padding: 2%;
	
}

.logForm form input{
	width: 40%;
    display: block;
    height: 14%;
    border: 0;
    outline: 0;
    margin:0 auto;
	text-align: center;
	align-items: center;
    padding: 1%;
	justify-content: center;
    align-content: center;
}

.logForm input[type="text"] , .logForm input[type="password"]  {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
	        margin-bottom: 2%;
        }
 .logForm input[type='submit'] {
	        font-family: "Arial Rounded Mt",arial;
            font-size: 1em;
            color: #ffffff;
            background-color: #ffab17;
	        border-radius: 5px;
	        margin: 0 auto;
        }

.logFrom input:focus {
            width: 300px;
        }
.logForm input[type='submit']:hover {
            cursor: pointer;
            width: 300px;
        }

/*Signup page*/
.signupForm{
	width: 100%;
	hegiht:100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top:-1%;*/
}

.signupForm h1{
	text-align: center;
    font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	padding-top: 1%;
	margin-top:2%;
}

.signupForm .part1{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 60%;
	margin-top: 1%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
}

.signupForm .part2{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 25%;
	margin-top: 3%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
}
.signupForm .part1 input{
	width: 40%;
    display: block;
    height: 13%;
    margin:0 auto;
	text-align: center;
	align-items: center;
    padding: 1.5%;
	justify-content: center;
    align-content: center;
	
}

.signupForm .part1 input[type="text"], .signupForm .part1 input[type="firstname"] {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
}

.signupForm .part1 input[type="text"], .signupForm .part1 input[type="lastname"] {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
}

.signupForm .part1 input[type="text"], .signupForm .part1 input[type="username"] {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
}

.signupForm .part1 input[type="text"], .signupForm .part1 input[type="password"] {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
}

.signupForm .part1 input[type="email"], .signupForm .part1 input[type="email"] {
            font-family: "Arial Rounded Mt",arial;
			background-color: #EBEBEB;
            font-size: 1em;
            color: #787878;
	        border-radius: 5px;
}

.signupForm .part2 {
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 340px;
	margin-top: 1%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	border-radius: 5px;
	
}

.signupForm .part2 select{
	margin:3% 3% 3% 3%; 
    padding: 1%;
}

.signupForm .part2 input{
	width: 30%;
    display: block;
    height: 40px;
    margin:1% 1% 1% 1%; 
    padding: 1%;
	
}

.signupForm .part2 input[type='submit'] {
	        font-family: "Arial Rounded Mt",arial;
            font-size: 16px;
            color: #ffffff;
            background-color: #ffab17;
	        border-radius: 5px;
	        margin:0 auto;
}

/*Search page*/
.searchSec{
	width: 100%;
	height:1200px ;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top:-1%;*/
	
}

.searchSec h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 5%;
	padding-bottom: 1%; 
	text-align: center;
	margin:0 auto;
}
.searchSec .search{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 25%;
	margin-top: 2%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 2%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: .8em;
	
}

.searchSec .search .searchBar1{
    width:60%;
	margin-top: 1%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	
}

 .searchBar1 input {
			width:50%;
			height: 20%;
            border: 1px solid #f72e05;  
            border-radius: 5px;  
            background: #ffffff;  
            color: #d9d9d9;
			font-family: "Arial Rounded Mt",arial;
			font-size: 2em;
			padding-left: 5px;
	        margin-top: -80%;
        }  
 .searchBar1 button { 
			width:40px;
			height:40px;
            top: 0;  
            margin-right: 15px;  
            background: #f72e05;
	        border-radius: 5px;
        }  
.searchBar1 button img{
	width: 28px;
	height: 28px;
}

.search h2{
	font-size: 1.5em;
	font-family: "Arial Rounded Mt",arial;
	margin-top: 5%;
	margin-bottom: 5%;
}

.search img{
	width:5%;
	
}

/*Search Results Page*/
.searchRes{
	width: 100%;
	height:100%;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}
.searchRes h2{
	font-family: "Arial Rounded Mt",arial;
	font-size: 2.5em;
	font-color:#2e2e2e;
	padding-top: 5%;
	padding-bottom: 5%; 
	text-align: center;
	margin:0 auto;
	
}

.searchRes .resuInfo{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 35%;
	margin-top: .5%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	padding: 5%;
}

.searchRes .resuInfo a{
	color: #787878;
}

/*About page*/
.about{
	width: 100%;
	height: 1200px;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}

.about h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 7%;
	padding-bottom: 3%; 
	text-align: center;
	margin:0 auto;
}

.about .grid{
	background-color:rgba(255,255,255,.8);
    width:20%;
	height: 600px;
	margin-top: .5%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 10%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
}

.aboutInner{
  border: 2px #303030;
  margin:5%;
  padding:4%;
  display: block;
}

.aboutInner img{
	width: 20%;
}

.about .aboutbutton{
	display: inline-block;
	width: 45%;
	height: 10%;
	background-color: #ffab17;
	
	border-radius: 5px;
}

.about .aboutbutton p{
	font-size: .8em;
	margin-top: 8%;
	font-color: #ffffff;
}


/*User Interests Page*/

.interestSec{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
	
}

.interestSec h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 1%;
	padding-bottom: .5%; 
	text-align: center;
	margin:0 auto;
}

.interestSec h2{
	font-family: "Arial Rounded Mt",arial;
	font-size: 2em;
	font-color:#2e2e2e;
	padding-top: 3%;
	padding-bottom: 1%; 
	text-align: center;
	margin:0 auto;
}

h4{
	font-family: "Arial Rounded Mt",arial;
	font-color:#2e2e2e;
	padding-top: 1%;
	padding-bottom: 1%; 
	
}

.interestSec .interestForm{
	background-color:rgba(255,255,255,.8);
    width:25%;
	height: 40%;
	margin-top:0;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	
}

.interestForm label i{
	width: 20px;
	height: 20px;
	border:1px solid #999;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	margin:2%;
}

.interestForm label input{
	margin: 10%;
	float: left;
}

label input[type="checkbox"]:checked +i{
	background-color:#ffab17;
	background-size: 15px 15px;
	border:3px #BBA354;
}

.interestForm #submit{
	wdith: 10%;
	height: 5%;
	background-color: #ffab17;
	font-size: 1em;
	font-color:#ffffff;
	text-align: center;
	border-radius: 5px; 
}

.interestForm p{
	text-align: center;
	font-size: .9em;
	font-family:"Arial Rounded Mt",arial;
	margin-top: 7%;
}

/*User Profile Page*/
.profileSec{
	width: 100%;
	height: 1150px;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
	
}

.profileSec h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 3%;
	padding-bottom: 3%; 
	text-align: center;
	margin:0 auto;
}

.profileSec .info{
	background-color:rgba(255,255,255,.8);
    width:25%;
	height: 45%;
	margin-top:0;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	
}

.profileSec .info img{
	width: 30%;
	margin: 10%;
	
}

.profileSec .info p{
	font-family:"Arial Rounded Mt",arial;
	font-size:.9em;
	margin:0 auto;
	line-height: -10%ï¼›
	
}

.profileSec h2{
	font-family: "Arial Rounded Mt",arial;
	font-size: 2em;
	font-color:#2e2e2e;
	padding-top: -3%;
	padding-bottom:0; 
	text-align: center;
	margin:0 auto;
}

.badges img{
	width:5%;
	margin-top: 3%;
	margin-bottom: 3%;
	 
}

/*Edit Profile Page*/
.proEdit{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}

.proEdit h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 3%;
	padding-bottom: 3%; 
	text-align: center;
	margin:0 auto;
}

.proEdit .editInfo{
	background-color:rgba(255,255,255,.8);
    width:40%;
	height: 100%;
	margin-top:0;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
}

.proEdit .editInfo img{
	width: 30%;
	margin: 10%;
}

.editInfo p3{
	font-family: "Arial Rounded Mt",arial;
	font-size: 1em;
	font-color:#2e2e2e;
	padding-top: 1%;
	padding-bottom: 1%; 
	text-align: center;
	margin:0 auto;
}

.editInfo input{
	width:30%;
    height: 10%;
    border: 1em #AEAEAE;  
    border-radius: 5px;  
    background: #E2E2E2;  
    color: #d9d9d9;
	font-family: "Arial Rounded Mt",arial;
	font-size: 1em;
	padding-left: 1%;
	margin: 2%;
}

.proEdit .editInfo input[type='submit'] {
	        font-family: "Arial Rounded Mt",arial;
            font-size: 1em;
            color: #ffffff;
            background-color: #ffab17;
	        border-radius: 5px;
	        margin:0 auto;
}

.editBadges img{
	width:5%;
	margin-top: .5%;
	margin-bottom: 3%;
}

.proEdit .editBadges h2{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 3%;
	padding-bottom:0; 
	text-align: center;
	margin:0 auto;
}

/*Browse Location Page*/

.location{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}

.location h1{
	font-family: "Arial Rounded Mt",arial;
	   font-size: 3em;
	   font-color:#2e2e2e;
	   padding-top: 3%;
	   padding-bottom: 3%; 
	   text-align: center;
	   margin:0 auto;
}

.location .locgrid{
	background-color:rgba(255,255,255,.8);
    width:60%;
	height: 8100px;
	margin-top: .5%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 5%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
}

.location .locgrid .locinner{
    border: 2px #303030;
    margin:3%;
    padding:3%;
    display: block;
}

.location .locgrid .locinner img{
	width:70%;
	border-radius: 5px;
	
}

.location .locgrid #title{
	font-size: 2.5em;
	text-align: center;
}

.location .locgrid #mv{
	font-size:.8em;
	font-color:#2d2d2d;
	text-align: center;
}

.location .locgrid .locinner .buttonView {
	width: 109px;
	height: 28px;
	background: #ffab17;
	border-radius: 5px;
	margin-left: 10%;
	margin-right: 10%;
	align-items: center;
	display: inline-block;
	text-align: center;
	font-family: "Arial Rounded Mt",arial;
	color: #ffffff;
	overflow: hidden;
}

/*Location Page*/

.locMap{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;	
/*	margin-top: -1%;*/
}

.locMap h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 3em;
	font-color:#2e2e2e;
	padding-top: 3%;
	padding-bottom: 1%; 
	text-align: center;
	margin:0 auto;
}

.locMap .locInfo{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 80%;
	margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	padding: 4%;
}

.locMap .locInfo img{
	width:100%;
}

.locTips{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 50%;
	margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	padding: 3%;
}

.locTips h2{
	font-family: "Arial Rounded Mt",arial;
	font-size: 2.2em;
	font-color:#2e2e2e;
	padding-top: -2%;
	padding-bottom: 1%; 
	text-align: center;
	margin:0 auto;
}

.locTips img{
	width:30%;
}
.locTips ul #reply{
	width: 3%;
}

.locInfo2 ul #bookmark{
	width:2%;
}
 
/*Contact page*/

.contact{
	width: 100%;
	height: 1200px;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}

.contact #contactForm{
	background-color:rgba(255,255,255,.8);
    width:50%;
	height: 60%;
	margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    display:inline-block;
    vertical-align: top;
	text-align: center;
	border-radius: 5px;
	padding: 4%;
}

.contact #contactForm input{
	width: 50%;
    display: block;
    height: 8%;
    border: 0;
    outline: 0;
    margin:3% 20% 3% 27%; 
	text-align: center;
	align-items: center;
    padding: 1%;
	justify-content: center;
    align-content: center;
	background-color: #DFDFDF;
	border-radius: 5px;
}
.contact #contactForm textarea{
	width: 50%;
    display: block;
    height: 8%;
    border: 0;
    outline: 0;
    margin:3% 20% 3% 27%; 
	text-align: center;
	align-items: center;
    padding: 1%;
	justify-content: center;
    align-content: center;
	background-color: #DFDFDF;
	border-radius: 5px;
}

.contact #contactForm input[type='submit'] {
	        font-family: "Arial Rounded Mt",arial;
            font-size: .9em;
            color: #ffffff;
	        width: 50%;
            background-color: #ffab17;
	        border-radius: 5px;
}

/*My tips*/
.tips{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
	
}

.tips h1{
	font-family: "Arial Rounded Mt",arial;
	font-size: 40px;
	font-color:#2e2e2e;
	padding-top: 10%;
	padding-bottom: 3%; 
	text-align: center;
	margin:0 auto;
}


/*Tips Delete Page*/

.tipsDelete{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #EBEBEB;
	display:block; 
	text-align:center;
/*	margin-top: -1%;*/
}

.tipsDelete p{
	font-family: "Arial Rounded Mt",arial;
	font-size: 2.8em;
	font-color:#2e2e2e;
	padding-top: 20%;
	padding-bottom: 3%; 
	text-align: center;
	margin:0 auto;
}

.deleteInfo form input{
	text-align: center;
	margin-left: 10%;
	margin-right: 3%;
	width: 10%;
	height: 5%;
}
.deleteInfo input[type='submit'] {
	font-family: "Arial Rounded Mt",arial;
    font-size: 1em;
    color: #ffffff;
    background-color: #ffab17;
	border-radius: 5px;
	margin:0 auto;
	text-align: center;
}

.deleteInfo a{
	font-size: .9em;
}


